<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>144720687699-hhjl17r10vkoicn6amsj5at1td91p9jq.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.144720687699-hhjl17r10vkoicn6amsj5at1td91p9jq</string>
	<key>API_KEY</key>
	<string>AIzaSyDsNcS25iys2NerLQEZPuOiKnG3cQO7Vx4</string>
	<key>GCM_SENDER_ID</key>
	<string>144720687699</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.julion.chatApp</string>
	<key>PROJECT_ID</key>
	<string>chatapp-7727d</string>
	<key>STORAGE_BUCKET</key>
	<string>chatapp-7727d.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:144720687699:ios:1c40574612847548b98ca6</string>
	<key>DATABASE_URL</key>
	<string>https://chatapp-7727d.firebaseio.com</string>
</dict>
</plist>